<!DOCTYPE html>
<html lang="en">
    <head>
        <title>adds store form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="form">
                
        <div class="form-group">
                <input matInput type="email" id="email" name="email" formControlName="email" (keyup)="onKey(InputForm)" placeholder="Enter email"
                  #email required>
                <div *ngIf="email?.email">
                  Primary Email not valid.
                </div>
              </div>
              <div class="form-group">
                <input matInput type="text" id="ownerName" name="ownerName" formControlName="ownerName" (keyup)="onKey(InputForm)" placeholder="ownerName"
                  #ownerName required>
              </div>
              <div class="form-group">
                <input matInput type="password" id="ownerPassword" name="ownerPassword" formControlName="ownerPassword" (keyup)="onKey(InputForm)"
                  placeholder="ownerPassword" #ownerPassword required>
              </div>
              <div class="form-group">
                <input matInput type="text" id="propriatorName" name="propriatorName" formControlName="propriatorName" (keyup)="onKey(InputForm)"
                  placeholder="Name of the propriator" #propriatorName required>
              </div>
              <div class="form-group">
                <input matInput type="text" id="storeName" name="storeName" formControlName="storeName" (keyup)="onKey(InputForm)" placeholder="Name of the shop"
                  #storeName required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="contactNo" (keyup)="onKey(InputForm)" placeholder="MobileNo" #contactNo required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="panNo" (keyup)="onKey(InputForm)" placeholder="PanNo" #panNo required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="regNo" (keyup)="onKey(InputForm)" placeholder="StoreRegNo" #regNo>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="numberOfBranches" (keyup)="onKey(InputForm)" placeholder="No of Branches" #numberOfBranches
                  required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="contactNo" (keyup)="onKey(InputForm)" placeholder="Shop Contact No" #contactNo
                  required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="address" (keyup)="onKey(InputForm)" placeholder="Address" #address required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="monthlyRevenue" (keyup)="onKey(InputForm)" placeholder="Approx monthly Revenue"
                  #monthlyRevenue required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="noOfWorkers" (keyup)="onKey(InputForm)" placeholder="No of workers" #noOfWorkers
                  required>
              </div>
              <div class="form-group">
                <input matInput type="text" formControlName="noOfUsers" (keyup)="onKey(InputForm)" placeholder="Required no of Users" #noOfUsers
                  required>
              </div>
              <div>
      
                <button (click)="setPosition()" mat-raised-button color="primary">set position</button>
                <div *ngIf="currentUpload">
                  <div class="progress">
                    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                  </div>
                  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
                </div>
      
      
                <label>
      
                  <input type="file" name="logoUpload" (change)="detectFiles($event, 'logo')">
                  <label for="logoUpload"> Select logo to upload</label>
                </label>
      
      
      
                <label>
                  <input type="file" name="furthurimageupload" (change)="detectFiles($event,'images')" multiple>
                  <label for="furthurimageupload"> Select files to upload</label>
                </label>
      
      
              </div>
              <button type="submit" (click)="onSubmit(InputForm)" mat-raised-button color="primary" class="form-control">Submit</button>
          
            </div>
        </div>
    </body>
</html>